*{
	margin: 0;
	padding: 0;
}
body{
	background: radial-gradient(circle, rgba(0,18,31,1) 15%, rgba(9,9,121,1) 38%, rgba(0,212,255,1) 94%);
	/* background-size: cover;
	background-repeat: no-repeat;
	background-position: center; */
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin-top: 40px;

}

.regForm{
	width: 800px;
	background-color: rgba(0, 0, 0,.6);
	margin: auto;
	color: #fff;
	padding: 10px 0px 0px 0px;
	text-align: center;
	border-radius: 15px 15px 0px 0px;
}

.main{
	background-color: rgba(0, 0, 0,.5);
	width: 800px;
	margin: auto;
}

form{
	padding: 10px;
}

#name{
	width: 100%;
	height: 100px; 
}

.name{
	margin-left: 25px;
	margin-top: 30px;
	/* width: 125px; */
	color: white;
	font-size: 18px;
	font-weight: 700;
}

.firstname{
	position: relative;
	left: 200px;
	top: -30px;  
	line-height: 40px;
	border-radius: 6px;
	padding: 0 22px;
	font-size: 16px;
}
.lastname{
	position: relative;
	left: 200px;
	top: -30px;  
	line-height: 40px;
	border-radius: 6px;
	padding: 0 22px;
	font-size: 16px;
	color: #555;
}

.firstlabel{
	position: relative;
	color: #E5E5E5;
	text-transform: capitalize;
	font-size: 14px;
	left: 50px;
	top: 5px;
}

.lastlabel{
	position: relative;
	color: #E5E5E5;
	text-transform: capitalize;
	font-size: 14px;
	left: 50px;
	top: 5px;
}

.email{
	position: relative;
	left: 200px;
	top: -37px;
	line-height: 40px;
	width: 505px;
	border-radius: 6px;
	padding: 0 22px;
	font-size: 16px;
	color: #555;
}

.username{
	position: relative;
	left: 200px;
	top: -37px;
	line-height: 40px;
	border-radius: 6px;
	padding: 0 22px;
	font-size: 16px;
	color: #555;
}

.phone_no{
	position: relative;
	left: 200px;
	top: -37px;
	line-height: 40px;
	border-radius: 6px;
	padding: 0 22px;
	font-size: 16px;
	color: #555;
}

.date{
	position: relative;
	left: 200px;
	top: -37px;
	line-height: 40px;
	border-radius: 6px;
	padding: 0 22px;
	font-size: 16px;
	color: #555;
	width: 195px;
}
.password,.re-password{
	position: relative;
	left: 200px;
	top: -37px;
	line-height: 40px;
	border-radius: 6px;
	padding: 0 22px;
	font-size: 16px;
	color: #555;
}

.small_email{
	position: relative;
	color: #fff;
	left: -110px;
	font-size: 10px;
}

small{
	position: relative;
	color: #fff;
	left: -10px;
	font-size: 10px;
}

button{
	position: relative;
	top:-15px;
	left: 220px;
	font-size: 25px;
	background-color: #3baf9f;
	display: block;
	margin: 20px 0 0 20px;
	text-align: center;
	border-radius: 12px;
	border: 2px solid #366473;
	padding: 14px 110px;
	outline: none;
	cursor: pointer;
	transition: 0.25px;

}

button:hover{
	background-color: #5390f5;
}

#pass_warning{
	position: relative;
	font-size: 15px;
	top: -30px;
	left: 220px;
}


.pass_info{
	position: relative;
	color: red;
	top: -22px;
	left: 210px;

}


